$frameW: min(20vw, 40vh);
$frameH: 55vh;
$frameW-tablet: min(40vw, 40vh);
$frameH-tablet: 50vh;
$frameW-mobile: min(60vw, 60vh);
$frameH-mobile: 40vh;

$fontSize: min(2.5vh, 3vw);
$fontSizeTitle: min(10vh, 10vw);
$fontSizeHeader: min(3vh, 3.5vw);
$fontSizeSmall: min(2vh, 2vw);
$fontSize-tablet: min(3.5vw, 3.5vh);
$fontSizetitle-tablet: min(9vw, 9vh);
$fontSize-mobile: 15px;
$fontSizeTitle-mobile: 45px;

$res-tablet: 1181px;
$res-mobile: 415px;
