@use "../../../Style/globalVar" as g;
@use "../galleryGlobal" as gallery;

.search-result {
  width: calc(gallery.$searchSize * 20 + 65px);
  z-index: 10;
  position: absolute;
  background-color: #d1d1d0;
  margin-top: calc(gallery.$searchSize * (-2 / 2));
  padding-top: calc(gallery.$searchSize * (2 / 2));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  //padding-bottom: 3px;
  height: fit-content;

  .inner-contain {
    overflow-y: scroll;
    max-height: 200px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .item {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    border-top: black solid 1px;
    font-size: g.$fontSize;
  }
}
