@use "../../../Style/globalVar" as g;
.topVisit {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  //justify-content: flex-start;
  .title-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8vh;
    margin-left: 5vw;
    z-index: 1;
    .rectangle {
      width: 1px;
      height: calc(g.$fontSize * 3);
      background-color: #fffcfc;
      opacity: 70%;
    }
    .title {
      margin: 10px 0;
      font-size: calc(g.$fontSize * 2);
      font-family: "Prata";
      color: #fffcfc;
    }
  }
  .grid-container {
    display: grid;
    grid-template-rows: repeat(5, 340px);
    grid-template-columns: repeat(2, 20vw) 30vw 30vw;
    grid-template-areas:
      "pic4 pic4 pic1 pic2"
      "pic4 pic4 pic3 pic3"
      "pic0 pic0 pic0 pic0"
      "pic5 pic6 pic9 pic9"
      "pic7 pic8 pic9 pic9";
  }
}
