@use "../../Style/globalVar" as g;
.Button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: max(calc(g.$fontSize * 9), 110px);
  height: calc(g.$fontSize * 2.5);
  line-height: 50px;
  background-color: rgba(11, 8, 8, 0);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  transition: all 0.2s ease-in;

  cursor: pointer;
}

.--top-right-1 {
  position: fixed;
  left: 85vw !important;
  top: 40px;
  width: max(9vw, 150px);
  height: 6vh;
  margin-right: 15px;
}

.--top-right-2 {
  position: fixed;
  left: 78vw;
  top: 40px;
  width: max(9vw, 150px);
  height: 6vh;
}
.--link {
  border: none;
  width: fit-content !important;
  height: fit-content !important;
  padding: 5px 15px !important;
}
.Button.--link:hover {
  .--Text {
    font-style: italic;
    color: #000000;
    transition: all 0.2s ease-in;
  }
  border-top: 0px rgba(225, 225, 225, 0) !important;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0) !important;
  background: rgba(0, 0, 0, 0) !important;
  transition: all 0.2s ease-in;
}

.--black {
  color: #ffffff;
  padding: 5px 15px !important;
  background: #000000;
  border: none;
}
.--shadow {
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.Button:hover {
  transform: scale(1.03);
  border-top: rgba(225, 225, 225, 0.2) solid;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(190deg, rgba(225, 225, 225, 0.2), #303030);
  transition: all 0.3s ease-out;
}
@media screen and (max-width: g.$res-tablet) and (min-width: g.$res-mobile) {
  .--top-right-1 {
    left: 80vw !important;
    height: 4vh;
  }
}

@media screen and (max-width: g.$res-mobile) {
  .--top-right-1 {
    left: 70vw !important;
    height: 4vh;
  }
  .Button {
    width: 110px;
    height: 35px;
  }
}
